:root {
  --tile-size: 75px;
}


body {
  background-color: #264653;
  color: black;
}

.App {
  width: 600px;
  height: 600px;
  margin: auto;
  /* transform: translateY(20%); */
}

.board {
  display: grid;
  grid-template-columns: 25px 25px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: calc(8 * var(--tile-size));
}

.light {
  background-color: #f4a261;
}

.dark {
  background-color: #e76f51;
}

.ranks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.files {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 25px;
  width: 600px;
}

.dp {
  background-image: url('../pieces/dp.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

}